*{
    margin: 0;
    border: 0;
    padding: 0;
 }
 #imagem-topo{
    background-color: #ADD8E6;
    text-align: center;
 }  
 p{
    padding: 15px;
    text-align: center;
    text-align: justify;
    font-family: arial;
    font-size: 18px;    
 }
 footer{
    background-color: #ADD8E6;
    
 }
 h1, h2{
    text-align: center;
    font-family: arial;
    color: #000080;
 }
 h3{
    font-family: arial};
 img{
    width: 50%;
    height: 50%;
 }
 .contato{

    font-size: 1em;
 }
 .cliente{
    text-align: center;
    color: #000080;
        font-family: arial;
 }